@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    width:100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
a:link {color:#000;text-decoration: none;}
a:visited {color:#000;text-decoration: none;}
a:hover {color:#000;text-decoration: none;}